@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Oswald:wght@200..700&display=swap');


body{
   
    background-image: url(./img/food-4k-m37wpodzrcbv5gvw.jpg);
    background-size: cover;
}

header{
    display: flex;
    flex-direction: column;
    grid-column: 1/3;
    text-align: center;
    align-items: center;
    border: 5px solid black;
    padding: 20px;
    margin: 5%;
    font-family: oswald;
    background-color: #d1c5c5;
}

#färdig{
    height: 150px;
    width: 200px;
}

#maträtt{
    height: 100px;
    width: 125px;
}

nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-row: 2/4;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    padding-top: 5%;
    font-family: oswald;
    border: 5px solid black;
    background-color:darkgrey;
}

#ingredienser{
    display: flex;
    flex-direction: column;
}

main{
    grid-column: 2/3;
    grid-row: 2/4;
    margin: 5%;
    font-size: x-large;
    font-family: oswald;
    border: 5px solid black;
    padding: 5%;
    background-color:darkgrey;
}


h1{
    font-size: calc(1.5rem + 2vw);
}

p{
    font-size: calc(1rem + 1vw);
}

ol li{
    margin: 15px;
}


footer{
    grid-column: 1/3;
    text-align: center;
    border: 5px solid black;
    padding: 20px;
    margin: 5%;
    font-family: oswald;
    background-color: gray;
}


@media screen and (min-width: 641px) and (max-width: 1024px) {

}

@media screen and (min-width: 1025px) {
    #färdig{
        height: 300px;
        width: 400px;
    }

    #maträtt{
        height: 200px;
        width: 250px;
    }

    #instruktioner{
        padding-left: 5%;
    }
    
}